.nav-header li {
    display: inline-block;
    margin: 15px;
    font-weight: bold;


}



.nav-header li:hover {
    border-bottom: 3px solid red;
}

@media only screen and (max-width:688px) {
    .nav-header li {
        margin: 5px;
        font-weight: 600;
        font-size: 15px;
        display: block;
    }

    .nav-header a {
        font-size: 15px;
    }

    ul,
    .nav-header {
        background-color: #758efd;
    }
}