.SingleReviews-img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.SingleReviews-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.SingleReviews-container h3 {
    font-weight: bold;
    font-size: 25px;
}

.SingleReviews-container p {
    font-weight: bold;
    font-style: italic;
}

.SingleReviews-container h5 {
    font-weight: bold;
    font-style: inherit;
}

@media only screen and (max-width:688px) {
    .SingleReviews-container {
        flex-direction: column;
    }
}